.main-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 20px;

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }

  &__link {
    color: #00b3bd;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 0px;

    &:hover {
      color: #00b3bd;
    }
  }

  &__wedding-destination {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__wedding-destination-left-content {
    margin-top: 250px;

    @media (max-width: 767px) {
      margin: auto;
    }
  }

  &__wedding-and-honeymoon-gallery {
    text-align: right;

    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__featured-video-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    grid-gap: 20px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__featured-video-text {
    h1 {
      font-family: "sabonitalic";
      font-size: 2.5vw;
      text-transform: uppercase;
      font-style: italic;
      color: #231f20;

      @media (max-width: 767px) {
        color: #93979a;
        font-size: 12px;
      }
    }
  }

  &__text-border-top {
    border-top: 1px solid #666;
    width: 30%;
    height: 4px;
    display: block;
    margin-bottom: 30px;
  }

  &__text-border-bottom {
    border-top: 1px solid #666;
    width: 30%;
    height: 4px;
    display: block;
    margin-top: 30px;
  }

  &__spa-and-wellness-img {
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__image-big-box {
    object-fit: cover;
    height: 590px;
    width: 90%;
  }

  &__wedding-and-honeymoon-img {
    object-fit: cover;
    height: 636px;
    width: 100%;
  }
}
